<h1> All Contestants </h1>

<% @contestants.each do |contestant| %>
  <h3><%= contestant.name %> </h3>
  
  Projects: 
  <% contestant.all_projects.each do |project| %>
    <%= project %>
    <% end %>
<% end %>