<h1>Contestants</h1>
<% @contestants.each do |contestant| %>
<ul>
  <li><%= contestant.name %></li>
  <% contestant.projects.each do |project| %>
    <li><%= project.name %></li>
  <% end %>
</ul>
<% end %>
  