<h1><%= "Projects Show Page" %></h1>
<br>
<% @projects.each do |project| %>
  <h3><%= project.name %></h1>
  <%= "Material: #{project.material}" %><br>
  <%= "Challenge Theme: #{project.challenge.theme}" %><br><br>
<% end %>