<section id= "project-info">
  <%= "#{@project.name}" %><br>
  <%= "Material: #{@project.material}" %><br>
  <%= "Challenge Theme: #{@project.challenge_theme}" %><br>
  <%= "Number of Contestants: #{@project.number_of_contestants}" %>
</section>